
body{
    background-color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.inner-container{
    display: flex;
    flex-direction: column;
    gap:3px;
    width: 200px;
    height: 320px;
    border:1px solid rgb(218, 218, 218);
    border-radius: 8px;
    padding:20px;
    border-bottom:4px solid grey;
    border-right:4px solid grey;
}
.box{
    flex:1;
    display: flex;
    gap:3px;
    justify-content: flex-end;
}
.display{
    /* height: 80px; */
    margin:0 0 20px;
    padding-right:5px;
    background-color: rgb(78, 78, 78);
    border-radius: 5px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    /* border-top: 2px solid black; */
    /* border-left: 2px solid black; */
}
.object{
    font-size: 29px;
}
.result{
    font-size: 20px;
}
.result,
.object{
    text-align: right;
    /* background-color: rgb(53, 53, 53); */
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    font-size: 25px;
    font-weight: 900;
    border-radius: 5px;
    border-style: hidden;
    padding:0;
    flex:1
}
.button.number{
    background-color: rgb(255, 143, 14);
    color:white;
}
.button.number:hover{
    background-color: rgb(255, 179, 64);
}
.button.number:active{
    background-color: rgb(255, 204, 64);
}
.button:disabled{
    color:black;
}